@import "mocha.css";

* {
  font-family: "Noto Sans";
  font-size: 16px;
  font-weight: 500;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 0px;
  padding: 0px;
}

.modules-right {
  margin-right: 8px;
}
.modules-left {
  margin-left: 8px;
}

#workspaces {
  border-radius: 1rem;
  margin-left: 1rem;
  background-color: @base;
  margin: 5px 0px;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.5rem;
}

#workspaces button.active {
  color: @mantle;
  background-color: @sapphire;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
  background-color: @mantle;
}

#custom-music,
#tray,
#network,
#cpu,
#memory,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
  background-color: @base;
  padding: 0.5rem;
  border-radius: 0rem;
  margin: 5px 0px;
  color: @text;
}

#cpu {
  border-radius: 1rem 0px 0px 1rem;
  padding-left: 1rem;
}

#clock {
  border-radius: 0px 1rem 1rem 0px;
  padding-right: 1rem;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#pulseaudio.muted {
  color: @red;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-lock {
  border-radius: 1rem 0px 0px 1rem;
  padding-left: 1rem;
  color: @lavender;
}

#custom-power {
  padding-right: 1rem;
  border-radius: 0px 1rem 1rem 0px;
  color: @red;
  margin-right: 1rem;
}

#tray {
  border-radius: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: 1rem;
}
